<div class="Inner">
		
			<div id="TableDisplay_Intro">
				<a href="#" id="BackToSearch">d'autres tables dans le voisinage</a>
				<h2>Titre de la table géniale où tu vas manger</h2>
				<span>Paris 20e</span>
				<ul id="SocialSharing">
					<li></li>
				</ul>
			</div>

			<div id="Main">				
				<section id="TableDisplay_Menu">
					<div id="TableDisplay_Carousel">
						<a href="#" id="TableDisplay_Carousel_Previous">Previous</a>
						<a href="#" id="TableDisplay_Carousel_Next">Next</a>
						<ul>
							<li>
								<%= image_tag 'samples/cover.png' %>
								<h3>Magnifique sandwich au poulet</h3>
							</li>
						</ul>
					</div>
					<h1 id="TableDisplay_Title">Nom de menu forcement un peu alambiqué</h1>
					<p id="TableDisplay_Format">Dîner</p>
					<article id="TableDisplay_MenuDesc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed nisi nisl. Maecenas in metus eros. Nullam id felis libero, blandit feugiat lectus. Fusce a justo quis sem condimentum hendrerit. Proin nibh dolor, elementum a eleifend eget, elementum ut ligula. Nunc at dui lacus, ut aliquet elit. Maecenas consequat eleifend placerat.</p>
					</article>
					
					<ul id="TableDisplay_DishesList">
						<li>
							<%= image_tag 'samples/TartareDeSaumon.png' %>
							<span class="Dish_Type_Tag">Entrée</span>
							<h3>Tartare de saumon</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis eleifend mi. Donec non justo a erat rhoncus faucibus.</p>
						</li>
						<li>
							<img src="images/samples/CoqAuVin.jpg" alt=""/>
							<span class="Dish_Type_Tag">Plat</span>
							<h3>Coq au Vin</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis eleifend mi. Donec non justo a erat rhoncus faucibus.</p>
						</li>
						<li>
							<img src="images/samples/MousseAuChocolat.jpg" alt=""/>
							<span class="Dish_Type_Tag">Dessert</span>
							<h3>Mousse au chocolat</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis eleifend mi. Donec non justo a erat rhoncus faucibus.</p>
						</li>
					</ul>
					
					<div id="TableDisplay_OtherMenus" class="SubLevel">
						<h3>Je vous propose également</h3>
						<ul>
							<li class="MiniMenu">
								<div>
									<img src="images/samples/MenuSudOuest.jpg" alt="" />
									<span class="format">dîner</span>
								</div>
								<h2>Menu sud-ouest</h2>
								<ul>
									<li>nom du plat #1</li>
									<li>nom du plat #2</li>
									<li>nom du plat #3</li>
								</ul>
							</li>
							<li class="MiniMenu">
								<div>
									<img src="images/samples/BrunchALaMaison.jpg" alt="" />
									<span class="format">brunch</span>
								</div>
								<h2>Brunch à la maison</h2>
								<ul>
									<li>nom du plat #1</li>
									<li>nom du plat #2</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>
				
				<section id="MoreInfo">
					<nav class="Tabs">
						<a href="#">Vos hôtes</a><a href="#" class="courant">Votre table</a><a href="#">Évaluation</a>
					</nav>
					<!--<div id="MoreInfo_Host">
						<ul>
							<li class="Host">
								<img src="images/samples/Host1.jpg" alt="" class="Avatar" />
								<h3>Julien P.</h3>
								<p class="HostInfo">
									<strong>27 ans, designer</strong>
									<span class="HostSpeak">parle : <img src="images/flags/fr.png" alt="Français" /> <img src="images/flags/en.png" alt="Anglais" /></span>
								</p>
								<p class="HostDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at nibh in nisl sagittis rhoncus sit amet vel nunc. Sed semper tempor pharetra. Ut sit amet arcu est. Duis mattis dictum tempus. Sed a tortor enim, ac adipiscing ante. Aenean pretium posuere ullamcorper.</p>
								<h4>Intérêts en commun</h4>
								<ul class="HostInterest">
									<li><img src="images/samples/drive.jpg" alt="Drive" /></li>
									<li><img src="images/samples/daftpunk.jpg" alt="Daft Punk" /></li>
									<li><img src="images/samples/californication.jpg" alt="Californication" /></li>
								</ul>
								<a href="#" class="Further">voir tout</a>
							</li>
							<li class="NoHost"></li>
						</ul>
					</div>-->
					<div id="MoreInfo_Table">
						<img src="images/samples/table_main.jpg" alt="" id="TableMainPic" />
						<div id="TableDesc">
							<h3>Votre table :</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet, purus nec lacinia commodo, orci arcu molestie nisl, sed bibendum arcu libero eu odio. Ut lacinia auctor metus, quis luctus ligula fermentum eu. Pellentesque nec orci vel ipsum congue consequat. Nullam sapien est, elementum tincidunt tincidunt in, varius id ligula. Nunc semper vestibulum vulputate. Mauris laoreet nibh et risus venenatis laoreet.</p>
							<ul class="TableInfo">
								<li><strong>Animaux</strong> : non</li>
								<li><strong>Fumeurs</strong> : non</li>
								<li><strong>XXXXXX</strong> : non</li>
								<li><strong>XXX</strong> : non</li>
							</ul>
						</div>
					</div>
				</section>
			</div><!-- #main -->
			
			<aside>
				<section id="TableDisplay_Book">
					<h3>L'addition</h3>
					<strong>75€</strong>
					<span>25€ par pers.</span>
					<form>
						<label for="Book_Date">Le</label> <input type="date" id="Book_Date" />
						<label for="Book_Guest">convives :</label> <select id="Book_Guests"><option>choose</option><option>1</option><option>2</option></select>
						<input type="submit" id="Book_Submit" Value="Contacter l'hôte" />
					</form>
				</section>
				
				<section id="TableDisplay_Review">
					<h3>Évaluation du menu</h3>
					<p><strong>Note générale</strong> <br /><a href="#" class="Further">voir le détail</a></p>
					<span class="Rating"><span class="Rating4"></span></span>
					<span class="Count">sur 98 avis</span>
				</section>
				
				<section id="TableDisplay_Calendar">
					<h3>Calendrier</h3>
					<select><option>mars 2012</option></select>
					<table>
						<thead>
							<tr>
								<th>Lun.</th>
								<th>Mar.</th>
								<th>Mer.</th>
								<th>Jeu.</th>
								<th>Ven.</th>
								<th>Sam.</th>
								<th>Dim.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="OffMonth">27</td>
								<td class="OffMonth">28</td>
								<td class="OffMonth">29</td>
								<td class="">1</td>
								<td class="">2</td>
								<td class="Unavailable">3</td>
								<td class="">4</td>
							</tr>
							<tr>
								<td class="">5</td>
								<td class="">6</td>
								<td class="Unavailable">7</td>
								<td class="">8</td>
								<td class="">9</td>
								<td class="Unavailable">10</td>
								<td class="">11</td>
							</tr>
							<tr>
								<td class="">12</td>
								<td class="">13</td>
								<td class="">14</td>
								<td class="">15</td>
								<td class="">16</td>
								<td class="Available">17</td>
								<td class="">18</td>
							</tr>
							<tr>
								<td class="">19</td>
								<td class="">20</td>
								<td class="">21</td>
								<td class="">22</td>
								<td class="">23</td>
								<td class="Unavailable">24</td>
								<td class="">25</td>
							</tr>
							<tr>
								<td class="">26</td>
								<td class="">27</td>
								<td class="">28</td>
								<td class="">29</td>
								<td class="">30</td>
								<td class="Unavailable">31</td>
								<td class="OffMonth">1</td>
							</tr>
						</tbody>
					</table>
					<p class="Legend"><span class="Unavailable">indisponible</span> <span class="Available">disponible</span></p>
				</section>
				
				<section id="TableDisplay_Location">
					<h3>Localisation</h3>
					<iframe width="250" height="160" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=119+rue+d'aboukir+paris&amp;aq=&amp;sll=46.75984,1.738281&amp;sspn=7.421209,21.621094&amp;ie=UTF8&amp;hq=&amp;hnear=119+Rue+d'Aboukir,+75002+Paris,+%C3%8Ele-de-France&amp;t=m&amp;ll=48.868667,2.35013&amp;spn=0.009033,0.021372&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
				</section>
				
				<section id="TableDisplay_ExtraInfos">
					<h3>Infos complétementaires</h3>
					<ul>
						<li>Gluten free</li>
						<li>veggie</li>
						<li>XXXXXX</li>
						<li>XXX</li>
						<li>XXXXXX</li>
						<li>XXX</li>
					</ul>
				</section>
				
				<section id="TableDisplay_Neighbourhood">
					<h3>Dans le coin</h3>
					<ul>
						<li class="MiniMenu">
							<div>
								<img src="images/samples/MenuSudOuest.jpg" alt="" />
							</div>
							<h2>Menu sud-ouest</h2>
							<p class="Price"><strong>15€</strong> par pers.</p>
							<p class="Host">chez Julien P.</p>
						</li>
						<li class="MiniMenu">
							<div>
								<img src="images/samples/BrunchALaMaison.jpg" alt="" />
							</div>
							<h2>Brunch à la maison</h2>
							<p class="Price"><strong>15€</strong> par pers.</p>
							<p class="Host">chez Cédric G.</p>
						</li>
					</ul>
					<a href="#" class="Further">voir plus de tables</a>
				</section>
				
			</aside>
			
		</div>
