
<section>
  <div class="page-header">
    <h1>
      <%= t('table_dashboard.manage.title') %> : <%= @table.title %>
    </h1>
  </div>

  <div class="row show-grid">
    
    <div class="span6 box-table">
      Table management
    </div>
    
    <div class="span6 box-table">
      table
    </div>

  </div>

  <div class="row">
    
    <div class="span6 box-table">
      avaib
    </div>
    
    <div class="span6 box-table">
      &nbsp;
    </div>

  </div>

</section>
