@import 'functions';

.each-dish {
    @include rounded(5px); 
    height : 18px;
    border : 1px solid black;
    margin-top : 6px;
    padding : 4px 6px;
    @include transition(0.3s);
    &:hover {
	cursor : pointer;
    }
    #title-dish {
	float : left;
    }
    #image-dish {
	float : right;
    }

    #each-hide {
	display : none;
    }
}

.selected-dish {
    height : 60px;
}

.formtastic {
    li.error {
	border : 1px solid red;
    }
    .inline-errors {
	color :red;
    }
}