@import 'functions';

#notification-messages {
    @include rounded(5px);
    border : 1px solid black;
    z-index : 9999;
    position : absolute;
    left : 1%;
    top : 1%;
    width :400px;
    height : 400px;
    
    
}

.menu-right {
    float : right;
}

.box-table {
    background-color: #EEE;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
height: 130px;
line-height: 130px;
margin-bottom : 10px;
font-size : 17px;
}

.step-true {
    color : green;
}

.step-false {
    color : red;
}