*{margin: 0; padding: 0;}

html{font: normal 12px/18px Helvetica, Arial, sans-serif;}
body{background: #ebebeb; text-align: center;}

li{list-style: none; display: block;}

header{text-align: left; background: white; height: 40px; margin-bottom: 20px;}
footer{text-align: left; clear: both;}

/***************************************************/
/********************PAGE LAYOUT********************/
#content{width: 980px; margin: 0 auto; text-align: left; overflow: auto;}
#main{width: 640px; margin-right: 20px; float: left;}
aside{width: 320px; float: left;}


/**********BOX**********/
.box{margin-bottom: 20px; border: 1px solid #b2b2b2; border-radius: 3px; padding: 10px; clear: both; background: white;}
.box h3{margin-bottom: 10px;}


/**********TABS NAVIGATION**********/
nav.tabs li{display: inline-block; margin-left: 20px; margin-bottom: 20px; font: normal 18px/22px Helvetica, Arial, sans-serif;}


/***************************************************/
/********************TABLE SHEET********************/

/**********MENU**********/
#table_sheet_cover{margin-bottom: 60px;}
#table_sheet_menu{position: relative; background: white; border: 1px solid #b2b2b2; border-radius: 3px; margin-bottom: 20px;}
#table_sheet_intro{position: absolute; left: 19px; top: 140px; background: white; width: 620px;}
#table_sheet_intro img{display: block; float: left; margin-right: 15px; border: 5px solid white;}
#table_sheet_intro .calltoaction2{position: absolute; left:  50px; top: 120px;}
#table_sheet_intro p{ margin-top: 20px;}
#table_sheet_intro h3{font: normal 25px/30px Georgia, Times, sans-serif;}

#table_sheet_menu_list{text-align: center; margin-bottom: 20px; overflow: auto; padding: 15px;}
#table_sheet_menu_list li{margin: 0 20px; display: inline-block;}

#table_sheet_menu_dishes {margin-bottom: 20px; overflow: auto; clear: both; padding-bottom: 20px;}
#table_sheet_menu_dishes li{width: 200px; margin-right:10px; float: left;}


/**********HOST INFO**********/
#table_sheet_info > div{margin-bottom: 20px; overflow: auto;}

#table_sheet_info_hosts .host_bio{width: 280px; float: left; margin-right: 20px;}
#table_sheet_info_hosts .host_bio img{float: left; margin: 0 10px 10px 0;}
#table_sheet_info_hosts .host_bio p{clear: both;}

#table_sheet_info_table img.main{float: left; margin-right: 10px;}
#table_sheet_info_table li{float: left; margin-right: 15px;}
#table_sheet_info_table li img{display: block;}

#table_sheet_info_review article img{float: left; margin-right: 10px;}


/*********************************************/
/********************ASIDE********************/
#table_sheet_aside_calendar table{width: 100%; margin-bottom: 10px;}
#table_sheet_aside_calendar td{background: #ddd;}
#table_sheet_aside_calendar .off{color: white; background: red;}
#table_sheet_aside_calendar .free{color: white; background: green;}
#table_sheet_aside_calendar .unavailable{background: #ddd;}
